<!--The content below is only a placeholder and can be replaced.-->

<md-toolbar class="primary">
    <md-toolbar-column>
      <span> <a href="//marvel.com/" alt="home">
        <img class="logo" src="assets/marvel.png"/>
      </a></span>
    </md-toolbar-column>
    
</md-toolbar>
<md-card *ngFor="let comic of comics">
  <md-card-content>
    
        <img *ngIf="comic.thumbnail" [src]="comic.thumbnail.path + '/landscape_medium.' + comic.thumbnail.extension"/>
        <h3 class="item">{{comic.title}}</h3>
        <span >{{comic.description}}</span>
     
  </md-card-content>
</md-card>
 

